body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: start;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: block;
  justify-content: center;
  align-items: center;
}

.review-card-user-profile {
  width: 70px !important;
}

.swiper {
  width: 100%;
  height: max-content;
}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #000000;
  color: #000000;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}
